<footer class="footer">
  <div class="footer_container">
    <section class="footer_section">
      <h3 class="footer_title">About Us</h3>
      <p class="footer_about-text">
        Lucas ipsum dolor sit amet fett vader moff obi-wan luke hutt darth cade organa darth. Mara dooku owen mace mon. Sith hutt ben skywalker dantooine tatooine zabrak darth greedo. Skywalker luke alderaan amidala mandalorians. Hutt c-3p0 baba skywalker baba thrawn fisto. Hutt secura maul dantooine mustafar. Yavin yoda mandalorians mothma hoth jade moff anakin antilles. Dooku qui-gonn bothan darth. Darth wedge r2-d2 ackbar. Luke obi-wan kashyyyk mon leia kamino. Leia jar dooku jabba moff obi-wan mandalorians anakin luke.
      </p>
    </section>
    <address>
      <h2 class="footer_title"> Contact </h2>
      <ul>
        <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
        <li><i class="fa-solid fa-phone"></i> (99) 99999-9999 </li>
        <li><i class="fa-brands fa-square-whatsapp"></i> (99) 99999-9999 </li>
      </ul>
    </address>
  </div>
  <section class="footer_copyright">
    &copy; 2022 - All rights reserved
  </section>
</footer>
